<div class="col-md-10 offset-md-1">
    <div class="card card-margin">
        <div class="card-header no-border">
            <h5 class="card-title car-title py-1 px-2">{{post_title}}</h5>
        </div>
        <div class="card-body pt-0">
            <div class="widget-49">
                <textarea readonly class="px-1" style="
                    width: 100%;
                    text-align: left;
                ">{{post_content}}</textarea>
                <div class="widget-49-meeting-action mt-1" style="
                            display: flex;
                            justify-content: flex-end;
                        ">
                    <a href="/api/posts/{{id}}" class="btn btn-sm btn-flash-border-primary">View Comments</a>
                </div>
            </div>
        </div>
    </div>
</div>